<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Web Fish Daily</title>

		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/css/vendor/normalize.css" rel="stylesheet">
		<link href="/css/site.css" rel="stylesheet">
	</head>
	<body>
		<header>
			<h1>Something Here</h1>

			{{#if showDateNav}}
			<nav>
				<h2>{{#if isHome}}Today{{else}}{{formatDate currentDate 'MMM Do'}}{{/if}}</h2>
				<a href="/archives/{{formatDate prevDate 'YYYY-MM-DD'}}" class="prev">
					&laquo; {{formatDate prevDate 'MMM Do'}}
				</a>
				<a href="/archives/{{formatDate nextDate 'YYYY-MM-DD'}}" class="next">
					{{formatDate nextDate 'MMM Do'}} &raquo;
				</a>
			</nav>
			{{/if}}
		</header>
		<main>
			{{{body}}}
		</main>
		<footer>
		</footer>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="/js/site.js"></script>
	</body>
</html>
