<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{{#if pageTitle}}{{pageTitle}} - {{/if}}Web Fish Daily</title>

		<link href="/favicon.ico" type="image/x-icon" rel="shortcut icon">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="/css/vendor/normalize.css" rel="stylesheet">
		<link href="/css/site.css" rel="stylesheet">
	</head>
	<body>
		<header>
			<h1><a href="/home">Web Fish Daily</a></h1>

			{{#if currentDate}}
				<nav>
					<h2>{{formatCurrentDate currentDate 'MMMM Do' isHome}}</h2>
					<div class="prev">
						{{#if showPrevDate}}
							<a href="{{getNavUrl prevDate}}"><i class="fa fa-arrow-left"></i></a>
						{{/if}}
					</div>
					<div class="next">
						{{#if showNextDate}}
							<a href="{{getNavUrl nextDate}}"><i class="fa fa-arrow-right"></i></a>
						{{/if}}
					</div>
				</nav>
			{{/if}}
		</header>
		<main>
			{{{body}}}
		</main>
		<footer>
		</footer>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="/js/site.js"></script>
	</body>
</html>
