<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{{getDescription}}">
		<meta name="twitter:card" content="summary">
		<meta name="twitter:creator" content="@WebFishDaily">
		<meta name="twitter:site" content="@WebFishDaily">
		<meta name="twitter:title" content="{{getTitle title}}">
		<meta name="twitter:description" content="{{getDescription}}">
		<meta property="og:type" content="article">
		<meta property="og:title" content="{{getTitle title}}">
		<meta property="og:description" content="{{getDescription}}">

		<title>{{getTitle title}}</title>

		{{#if canonicalUrl}}<link rel="canonical" href="{{canonicalUrl}}">{{/if}}
		<link rel="shortcut icon" href="/favicon.ico?v=2">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/vendor/normalize.css">
		<link rel="stylesheet" href="/css/site.css">

		{{#if isProd}}
			<script>
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

				ga('create', 'UA-12252325-4', 'auto');
				ga('send', 'pageview');
			</script>
		{{/if}}
	</head>
	<body>
		<header>
			<div class="logo">
				<svg viewBox="0 0 80 101">
					<path fill="none" stroke="#D6D4D4" stroke-width="1.5819" stroke-linecap="round" d="M28.25,30.28 c0,0,0.79,3.67,11.86,3.32c11.07-0.35,11.29-4.21,17.27-1.4c5.98,2.81,12.48,0.85,12.48-1.44"/>
					<path fill="none" stroke="#D6D4D4" stroke-width="1.5819" stroke-linecap="round" d="M40.11,33.6 c0,0,6.55,7.53,14.28,4.72s6.68-2.81,10.02-0.35"/>
					<path fill="#D6D4D4" stroke="#D6D4D4" stroke-width="1.5819" d="M23.3,34.76c-0.95,0.84-1.88,1.71-2.73,2.63 c-6.15,6.62-11.66,14.47-15.1,22.86C4.44,62.77,3.61,65.37,3,68.03c-0.61,2.62-1.02,5.3-1.13,8c-0.11,2.65,0.07,5.35,0.82,7.9 c0.78,2.66,2.22,5.06,4.24,6.96c2.59,2.44,5.91,3.97,9.27,5.04c4.79,1.53,9.82,2.23,14.81,2.7c5.59,0.52,11.2,0.7,16.82,0.85 c10.46,0.29,26.97-2.02,30.01-14.53c0.63-2.6,0.23-5.31-0.64-7.81c-1.35-3.9-3.7-7.44-6.16-10.72c-3.66-4.88-7.83-9.38-12.08-13.75 c-5.15-5.28-10.62-9.98-16.15-14.85c-1.5-1.32-4.13-3.94-1.79-5.61c2.09-1.48,4.83-1.51,7.19-2.33c3.27-1.13,6.6-3.05,9.3-5.2 c2.99-2.37,4.54-5.44-0.69-6.09c-1.53-0.19-2.85-0.19-4.07-1.24c-2.13-1.81,2.56-6.99-2.49-6.89c-1.41,0.03-4.22,1.35-5.64,0.63 c-1.15-0.58-0.75-3.07-0.71-4.07c0.07-1.79,0.15-4.03-1-5.53c-1.52-1.99-4.96,2.64-5.82,3.72c-4.34,5.45-2.74,12.56-4.79,18.78 C30.75,28.7,26.87,31.6,23.3,34.76z"/>
					<path fill="#D7F5F7" stroke="#D7F5F7" stroke-width="1.8388" d="M64.26,58.47c5.51,6.28,4.67,5.31,6.78,8.14 c2.46,3.28,4.81,6.82,6.16,10.72c0.87,2.5,1.27,5.21,0.64,7.81C74.8,97.65,58.29,99.96,47.84,99.67 c-5.61-0.16-11.22-0.33-16.82-0.85c-4.99-0.47-10.02-1.17-14.81-2.7c-3.36-1.07-6.68-2.6-9.27-5.04c-2.02-1.9-3.46-4.3-4.24-6.96 c-0.75-2.55-0.93-5.25-0.82-7.9c0.11-2.69,0.52-5.37,1.13-8c0.61-2.65,1.44-5.26,2.47-7.78c2.39,2.02,5.93,2.9,8.98,2.97 c6.1,0.14,10.83-4.82,16.54-4.7c3.07,0.06,6.24,2.4,9.4,2.85c2.89,0.41,7.61,0.99,10.34-0.41C55.97,58.48,59.42,52.95,64.26,58.47z" />
					<g class="fish-wrap">
						<g class="fish">
							<circle fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.258" cx="47.96" cy="71.69" r="4.99"/>
							<path fill="#EBA544" d="M52.95,72.31c-1.18-1.51-3.05-2.27-5.55-2.27c-0.25,0-0.5,0.01-0.77,0.02c-9.73,0.56-12.77,2.95-12.87,3.03 c0,0-0.21,0.12-0.52,0.32c-2.34-0.82-3.82-0.75-4.42,0.2c-0.63,1,0,2.63,0.2,3.11c-0.24,0.25-0.46,0.51-0.67,0.77 c-0.45-0.64-1.75-2.28-3.29-2.28c-1.23,0-2.28,1.03-3.13,3.07c-0.76,1.82-0.83,3.23-0.22,4.18c0.51,0.79,1.51,1.25,2.89,1.33 c-0.76,1.72-0.94,3.41-0.53,4.91c0.28,1.01,0.71,1.78,1.28,2.3c0.7,0.64,1.49,0.97,2.34,0.97c1.16,0,2.36-0.63,3.29-1.72 c0.77-0.9,1.21-1.98,1.21-2.9c1.09,0.79,2.22,1.42,3.24,1.8c-0.07,0.09-0.15,0.19-0.23,0.29c-0.79,0.99-2.11,2.64-0.72,3.92 c1.19,1.09,3.01,1.82,4.52,1.82c1.07,0,1.88-0.35,2.36-1c0.49,0.1,0.95,0.14,1.37,0.14c1.13,0,2.04-0.35,2.69-1.03 c0.95-1,1.06-2.41,1.07-2.94c4.34-1.11,6.9-4.6,7.6-10.34C54.13,79.8,55.23,75.22,52.95,72.31z"/>
							<path fill="#ED6E46" d="M56.37,78.38c0.38-1.24,0.18-2.6-0.54-3.64c-0.51-0.74-1.09-0.85-1.5-0.35c-0.37,0.44-0.51,1.21-0.61,1.77 l-0.02,0.14c-0.35,1.91-0.91,3.92-2.33,4.38c-0.19,0.06-0.4,0.09-0.61,0.09l-0.09,0v0c0,0-0.01,0-0.01,0c0,0,0,0,0,0 c0,0-0.01,0-0.01,0l-0.1,0l-0.06,0.08c-0.14,0.18,0.18,1.78,0.18,1.79c0.19,0.81,0.44,1.42,0.79,1.91c0.44,0.62,1.09,0.96,1.82,0.96 c0.74,0,1.48-0.34,1.99-0.92c0.48-0.55,0.7-1.25,0.6-1.96c-0.12-0.91-0.76-1.53-1.87-1.78c0.08-0.03,0.16-0.06,0.24-0.09 C55.25,80.36,56.03,79.49,56.37,78.38z"/>
							<circle fill="#FFFFFF" stroke="#FFFFFF" stroke-width="0.3139" cx="44.14" cy="73.15" r="6.07"/>
							<g class="pupil">
								<circle fill="#333333" stroke="#333333" stroke-width="0.4227" cx="46.05" cy="73.9" r="0.8"/>
							</g>
						</g>
					</g>
				</svg>
			</div>

			<h1><a href="/home">Web Fish Daily</a></h1>

			{{#if currentDate}}
				<nav>
					<h2>{{formatCurrentDate currentDate 'MMMM Do' isHome}}</h2>
					<div class="prev">
						{{#if showPrevDate}}
							<a href="{{getNavUrl prevDate}}">
								<i class="fa fa-arrow-left"></i>
								<span class="for-screen-reader">Previous Day</a>
							</a>
						{{/if}}
					</div>
					<div class="next">
						{{#if showNextDate}}
							<a href="{{getNavUrl nextDate}}">
								<i class="fa fa-arrow-right"></i>
								<span class="for-screen-reader">Next Day</a>
							</a>
						{{/if}}
					</div>
				</nav>
			{{/if}}
		</header>
		<main>
			{{{body}}}
		</main>
		<footer>
			<div class="actions">
				<a href="https://twitter.com/WebFishDaily" target="blank">
					<i class="fa fa-twitter"></i>
					<span class="for-screen-reader">Twitter</a>
				</a>
			</div>
			<div class="fine-print">
				Developed by <a href="https://twitter.com/lonekorean" target="_blank">Will Boyd</a>.
				<br>
				Found an awesome link? Send it to <a href="mailto:webfishdaily@gmail.com">webfishdaily@gmail.com</a>.
			</div>
		</footer>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="/js/site.js"></script>
	</body>
</html>
