<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Web Fish Daily</title>

		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/css/vendor/normalize.css" rel="stylesheet">
		<link href="/css/site.css" rel="stylesheet">
	</head>
	<body>
		<header>
			<h1><a href="/home">Web Fish Daily</a></h1>

			{{#if showDateNav}}
				<nav>
					<h2>{{formatCurrentDate currentDate 'MMMM Do' isHome}}</h2>
					<div class="prev">
						{{#if showPrevDate}}
							<a href="{{getNavUrl prevDate}}">&laquo; {{formatDate prevDate 'Do'}}</a>
						{{/if}}
					</div>
					<div class="next">
						{{#if showNextDate}}
							<a href="{{getNavUrl nextDate}}">{{formatDate nextDate 'Do'}} &raquo;</a>
						{{/if}}
					</div>
				</nav>
			{{/if}}
		</header>
		<main>
			{{{body}}}
		</main>
		<footer>
		</footer>

		{{{outputScriptVars scriptVars}}}

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="/js/site.js"></script>
	</body>
</html>
