<div class="cards">
	{{# each data.links}}
	<article>
		<div class="category">
			{{category}}
			<div class="author">by {{formatAuthor author}}</div>
		</div>
		<h3><a herf="{{url}}" target="_blank">{{title}}</a></h3>
		<div class="blurb">{{blurb}}</div>
	</article>
	{{/each}}
</div>
