{{#if announcement}}
	<div class="announcement">
		{{#if announcement.headline}}<strong>{{{announcement.headline}}}</strong> &mdash;{{/if}}
		{{{announcement.message}}}
	</div>
{{/if}}

{{#if links.length}}
	<div class="cards">
		{{#each links}}
			{{> card this}}
		{{/each}}
	</div>
{{else}}
	<div class="notice">
		Sorry, no links for this day.
	</div>
{{/if}}

{{#if isHome}}
	<div class="countdown">
		<i class="fa fa-clock-o"></i>
		<span>
			{{#if sneakPeakSeconds}}
				Sneak peak at tomorrow's catch in <span class="time" data-seconds="{{sneakPeakSeconds}}">due time</span>.
			{{/if}}
			{{#if tomorrowSeconds}}
				Tomorrow's catch arrives in <span class="time" data-seconds="{{tomorrowSeconds}}">due time</span>.
				{{#if sneakPeakLink}}Here's a sneak peak.{{/if}}
			{{/if}}
		</span>
	</div>
	{{#if sneakPeakLink}}
		<div class="cards">
			{{> card sneakPeakLink}}
		</div>
	{{/if}}
{{/if}}
