{{#if currentDate}}
	{{#if links.length}}
		<div class="cards">
			{{#each links}}
				<article>
					<div class="info">
						<span class="category">{{category}}</span>
						<span class="author">{{{formatAuthor author}}}</span>
					</div>
					<h3><a href="{{url}}" target="_blank">{{title}}</a></h3>
					<div class="blurb">{{blurb}}</div>
				</article>
			{{/each}}
		</div>
	{{else}}
		<div class="notice">
			Sorry, no links for this day.
		</div>
	{{/if}}

	<div class="notice countdowns">
		<div class="tomorrow">
			Tomorrow's catch arrives in <span class="time"></span>.
		</div>
		<div class="sneak-peak">
			Sneak peak in <span class="time"></span>.
		</div>
	</div>


{{else}}
	<div class="notice">
		Sorry, the requested date is invalid.
	</div>
{{/if}}