<article>

	<div class="info">
		<i class="fa {{mapCategoryIcon category}}"></i>
		<span class="category">{{category}}</span>
		<span class="author">{{{formatAuthor author}}}</span>
	</div>
	<h3><a href="{{url}}" target="_blank">{{title}}</a></h3>
	<div class="blurb">{{blurb}}</div>
</article>
