<article>

	<div class="info">
		<span class="category"><i class="fa fa-file-text-o"></i> {{category}}</span>
		<span class="author">{{{formatAuthor author}}}</span>
	</div>
	<h3><a href="{{url}}" target="_blank">{{title}}</a></h3>
	<div class="blurb">{{blurb}}</div>
</article>
